*{
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  max-width: 100%;
  overflow: auto;
}

body{
    background-color: #cecece;
}

.left_container{
  float: left;
  width: 35%;
  padding: 5px 30px;
}

/* clearfix */
.left_container:after{
  display: table;
  clear: both;
  content: '';
}

.user{
  text-align: center;
  background-color: white;
  border-radius: 3%;
}

.user > img{
  border-radius: 45%;
  width: 30%;
  height: 30%;
}

.user > div{
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding: 0px;
}

.user > #professione{
  font-size: 20px;
  color: black;
}

.user > p{
  text-align: justify;
  padding:20px 10px;
}

#box{
  background-color: red;
  padding: 20px 0;
  color: white;
  border-radius: 8%;
  width: 132px;
  font-size: 15px;
  transform: translate(115%, 0);
}

.social_link{
  background-color: white;
  border-radius: 3%;
  margin: 20px 0;
}

ul{
  background-color: white;
  padding: 0;
}

li > img{
  width: 80%;
  height: 20%;
  border-radius: 20%;
  float: right;
}

.left_container .social_link ul li{
  display: inline-block;
  width: 30%;
  padding: 5px;
}


.right_container{
  float: left;
  width: 65%;
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3%;
}

/* clearfix */
.right_container:after{
  display: table;
  clear: both;
  content: '';
}

.contenuto{
  border-radius: 2%;
}

.contenuto > h1{
  padding: 20px 10px;
  margin-left: 20px;
}

h3{
  padding: 0;
  margin-left: 10px;
}

hr{
  padding: .01%;
  background-color: black;
}

.ranking_element{
  width: 100%;
  height: 250px;
  /* serve per poter dare l'altezza ai vari riquadri con img,h3,p
     altrimenti il float:left sul selettore .ranking_element img
     non va a non tener conto dei riquadri stessi non avendo una
     height inizializzata*/
}

.ranking_element img{
  height: 230px;
  padding: 0;
  margin-right: 20px;
  float: left;
}

.ranking_element p{
  padding: 20px;
}

footer{
  padding: 0;
  width: 100%;
  background-color: white;
  border-radius: 3%;
  clear: both;
}

/* clearfix */
.footer:after{
  display: table;
  clear: both;
  content: '';
}

footer h1{
  float: left;
  width: 100%;
  padding: 15px 15px;
}

footer p{
  float: left;
}

.react_icon{
  float: right;
}

.react_icon ul > img{
  background-color: white;
  height: 20px;
  width: 20px;s
}

footer .react_icon ul li{
  display: inline-block;
  width: 13%;
  padding: 0;
  transform: translate(280px, 0);
}
